:root{
--main-font:'Jost', sans-serif;
  --purple:#AD1FEA;
  --color-primary:#647196;
  --color-primary--dark:#3A4374;
  --color-secondary--dark:#F7F8FD;
  --color-primary--light:#F2F4FE;
  --color-secondary:#FFFFFF;
  --blue:#4661E6;
  --light-blue:#62BCFA;
  --orange:#F49F85;
  --red:#D73737;


}

*,*:before,*:after{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: var(--main-font);
}
body{
  background-color:  #F2F2F2;
}
a{
  text-decoration: none;
}